.container {
  padding: 0 1rem;
}

.main {
  min-height: 90vh;
  padding: 1rem 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footerLogo {
  margin: 0 0.5em;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.subtitle {
  margin: 0;
  line-height: 2;
  font-size: 2rem;
  text-align: center;
}

.grid-container {
  width: 100%;
  display: flex;
}

.centerContent {
  align-items: center;
  text-align: center;
}

.grid {
  width: 100%;
  flex: 1;
  padding: 1.5em;
}

@media (max-width: 600px) {
  .grid-container {
    flex-direction: column;
  }
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}

.pricesTableContainer {
  display: inline-block;
  font-size: larger;
}

.pricesTableContainer table {
  border-spacing: 0;
}

.pricesTableContainer table td,
.pricesTableContainer table th {
  border: 1px solid rgb(182, 182, 182);
  margin: 0;
  padding: 8px;
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
